<html>
<body>
	<body>
	<form action="/CambiarDatosPersonales" method="post">
	
		<h3> Quieres cambiar tus datos personales?</h3>
		<h4> Rellena tus datos</h4>

	<p>Nombre:  </p>
		<input type='text' name='nombre'/>
		<p> </p>
		
		<p>Numero de cuenta:  </p>
		<input type='text' name='numCuenta'/>
		<p> </p>

		
		
	<p>Tipo de usuario:  </p>
		<input type='text' name='tipo'/>
		<p> </p>		
		
		<p>Antigua contraseña:  </p>
		<input type='text' name='nombre'/>
		<p> </p>
		
		<p>Nueva contraseña:  </p>
		<input type='text' name='nombre'/>
		<p> </p>
		
		<p>Vuelve a introducir la nueva contraseña:  </p>
		<input type='text' name='nombre'/>
		<p> </p>

	
		<input type='submit' value='Aceptar los nuevos cambios'/>
		<p> </p>
		
	</form>
</body>
	
	
	<a href="/usuarioPrivado">Volver a mi espacio personal</a>
</body>
</html>