<!DOCTYPE html>

<html lang="en">
<head>
<!-- Required Meta Tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Page Title -->
<title>Libro</title>

<!-- Logo -->
<link rel="shortcut icon" href="assets/images/logo/urjclogo.png"
	type="image/x-icon">


<!-- CSS Files -->

<link rel="stylesheet" href="assets/css/animate-3.7.0.css">
<link rel="stylesheet" href="assets/css/font-awesome-4.7.0.min.css">
<link rel="stylesheet" href="assets/fonts/flat-icon/flaticon.css">
<link rel="stylesheet" href="assets/css/bootstrap-4.1.3.min.css">
<link rel="stylesheet" href="assets/css/owl-carousel.min.css">
<link rel="stylesheet" href="assets/css/nice-select.css">
<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

	<!-- Preloader Starts -->
	<div class="preloader">
		<div class="spinner"></div>
	</div>
	<!-- Preloader End -->

	<!-- Header Area Starts -->
	<header class="header-area single-page">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2">
						<div class="logo-area">
							<a href="/"><img src="assets/images//logo/urjclogo.png"
								alt="logo"></a>
						</div>
					</div>
					<div class="col-lg-10">
						<div class="custom-navbar">
							<span></span> <span></span> <span></span>
						</div>
						<div class="main-menu main-menu-light">
							<ul>
								<li><a href="/Libro">Libro</a></li>
								<li><a href="/Categoria">Categoria</a></li>
								<li><a href="/Alternativa">Alternativas</a></li>
								<li><a href="/Prestamo">Prestamo</a></li>
								<li><a href="/Contacto">Contacto</a></li>
								<li class="menu-btn"><a href="/Login" class="login">Ingresar</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-title text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<h2>Busca tu Libro</h2>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header Area End -->


	<!-- Search Area Starts -->
	<div class="search-area">
		<div class="search-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<form action="#" class="d-md-flex justify-content-between">
							<select>
								<option value="1">All</option>
								<option value="2">Books</option>
								<option value="1">Ebooks</option>
							</select> <input type="text" placeholder="Search Title,author,ISBN"
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Search Keyword'" required>
							<button type="submit" class="template-btn">find books</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Search Area End -->


	<!-- recommend Area Starts -->
	<section class="employee-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-top text-center">
						<h2>Our recommended</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="employee-slider owl-carousel">
						<div class="single-slide d-sm-flex">
							<div class="slide-img book1">
								<div class="hover-state">
									<div class="hover-text text-center">
										<li><a href="/Libro/1">LA SOCIEDAD DE LOS SOÑADORES INVOLUNTARIOS</a></li>
										<h5>AGUALUSA, JOSÉ EDUARDO</h5>
									</div>
								</div>
							</div>
							<div class="slide-text align-self-center">
								<i class="fa fa-quote-left"></i>
								<p>Aunque lleva muchos años separado, a Daniel Benchimol,
									periodista y gran lector, está a punto de firmar el divorcio.
									El trámite lo abruma y decide marchar de viaje</p>
							</div>
						</div>
						<div class="single-slide d-sm-flex">
							<div class="slide-img book2">
								<div class="hover-state">
									<div class="hover-text text-center">
										<li><a href="/Libro/2">LAS LÁGRIMAS</a></li>
										<h5>QUIGNARD, PASCAL</h5>
									</div>
								</div>
							</div>
							<div class="slide-text align-self-center">
								<i class="fa fa-quote-left"></i>
								<p>Una novela que toma la forma de una leyenda o un poema,
									en la que se narra el destino opuesto de dos gemelos: Nithard,
									nieto de Carlomagno, erudito, literato, escriba, y Hartnid,
									viajero, marinero, guerrero, vagabundo.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- recommend Area End -->
	<!-- upcoming Area Starts -->
	<section class="employee-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-top text-center">
						<h2>Upcoming releases ...</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="employee-slider owl-carousel">
						<div class="single-slide d-sm-flex">
							<div class="slide-img book3">
								<div class="hover-state">
									<div class="hover-text text-center">
									<li><a href="/Libro/3">ASESINOS DE SERIES</a></li>
										<h5>SANCHEZ, ROBERTO</h5>
									</div>
								</div>
							</div>
							<div class="slide-text align-self-center">
								<i class="fa fa-quote-left"></i>
								<p>Un juego trepidante en el que realidad y ficcion se
									confunden, y en el que la narrativa serial parece inmiscuirse,
									cada vez mas y sorprendentemente.</p>
							</div>
						</div>
						<div class="single-slide d-sm-flex">
							<div class="slide-img book4">
								<div class="hover-state">
									<div class="hover-text text-center">
									<li><a href="/Libro/4">ALEACIÓN DE LEY</a></li>
										<h5>SANDERSON, BRANDON</h5>
									</div>
								</div>
							</div>
							<div class="slide-text align-self-center">
								<i class="fa fa-quote-left"></i>
								<p>Aleación de ley es la secuela de la primera trilogía de
									la saga «Nacidos de la Bruma [Mistborn]», una obra iniciada con
									El imperio final y parte imprescindible del Cosmere.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- upcoming Area End -->

	<!-- hystory Area Starts -->
	<section class="employee-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-top text-center">
						<h2>News of Historical Narrative</h2>
						<p>Open lesser winged midst wherein may morning</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="employee-slider owl-carousel">
						<div class="single-slide d-sm-flex">
							<div class="slide-img book5">
								<div class="hover-state">
									<div class="hover-text text-center">
									<li><a href="/Libro/5">LA LEYENDA DE LA ISLA SIN VOZ</a></li>
										<h5>MONTFORT, VANESSA</h5>
									</div>
								</div>
							</div>
							<div class="slide-text align-self-center">
								<i class="fa fa-quote-left"></i>
								<p>Un joven Charles Dickens visita la isla-presidio de
									Blackwell, en Nueva York.</p>
							</div>
						</div>
						<div class="single-slide d-sm-flex">
							<div class="slide-img book6">
								<div class="hover-state">
									<div class="hover-text text-center">
									<li><a href="/Libro/6">SECRETOS IMPERFECTOS</a></li>
										<h5>HJORTH,MICHAEL</h5>
									</div>
								</div>
							</div>
							<div class="slide-text align-self-center">
								<i class="fa fa-quote-left"></i>
								<p>Un joven de dieciséis años ha sido brutalmente asesinado.
									Un brillante equipo policial, dirigido por el experto
									criminólogo Torkel Höglund .</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- hystory Area End -->

	<!-- Romantic Area Starts -->
	<section class="employee-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-top text-center">
						<h2>News of Romantic Narrative</h2>
						<p>Open lesser winged midst wherein may morning</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="employee-slider owl-carousel">
						<div class="single-slide d-sm-flex">
							<div class="slide-img book7">
								<div class="hover-state">
									<div class="hover-text text-center">
									<li><a href="/Libro/7">BLUE</a></li>
										<h5>STEEL, DANIELLE</h5>
									</div>
								</div>
							</div>
							<div class="slide-text align-self-center">
								<i class="fa fa-quote-left"></i>
								<p>Blue es una conmovedora historia sobre las segundas
									oportunidades y el poder del amor..</p>
							</div>
						</div>
						<div class="single-slide d-sm-flex">
							<div class="slide-img book8">
								<div class="hover-state">
									<div class="hover-text text-center">
									<li><a href="/Libro/8">MÁS DE TI</a></li>
										<h5>SHERIDAN, MIA</h5>
									</div>
								</div>
							</div>
							<div class="slide-text align-self-center">
								<i class="fa fa-quote-left"></i>
								<p>Crystal ha aprendido hace mucho tiempo que el amor solo
									provoca dolor.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Romantic Area End -->

	<!-- Marketing Area Starts -->
	<section class="employee-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-top text-center">
						<h2>News of Business and Marketing</h2>
						<p>Open lesser winged midst wherein may morning</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="employee-slider owl-carousel">
						<div class="single-slide d-sm-flex">
							<div class="slide-img book9">
								<div class="hover-state">
									<div class="hover-text text-center">
										<li><a href="/Libro/9">EL CEREBRO DEL INVERSOR</a></li>
										<h5>BERMEJO, PEDRO</h5>
									</div>
								</div>
							</div>
							<div class="slide-text align-self-center">
								<i class="fa fa-quote-left"></i>
								<p>En la obra se explican de forma didáctica y amena las
									aplicaciones prácticas de cara a invertir en una de las áreas
									de investigación más florecientes.</p>
							</div>
						</div>
						<div class="single-slide d-sm-flex">
							<div class="slide-img book10">
								<div class="hover-state">
									<div class="hover-text text-center">
										<li><a href="/Libro/10">¿QUIÉN SE HA LLEVADO MI MÁSTER?</a></li>
										<h5>FUENTES, TOMÁS</h5>
									</div>
								</div>
							</div>
							<div class="slide-text align-self-center">
								<i class="fa fa-quote-left"></i>
								<p>¿Eres el único que todavía no tiene un máster? ¿Sientes
									que te falta algo? ¿Quieres saber dónde lo consiguieron los
									ministros, alcaldes y funcionarios de media España?</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Marketing Area End -->

	<!-- Footer Area Starts -->
	<footer class="footer-area section-padding">
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-xl-6offset-xl-1 col-lg-6">
						<div class="single-widget-home mb-5 mb-lg-0">
							<h3 class="mb-4">Mejora BiblioSpring</h3>
							<p class="mb-4">Envíanos tu opinión sobre la web y ayúdanos a
								mejorar.</p>
							<form action="#">
								<input type="email" placeholder="Escribe aquí"
									onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Escribe aquí'" required>
								<button type="submit" class="template-btn">Enviar</button>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<h3 class="mb-4" align="right">Encóntranos también aquí</h3>
						<div class="social-icons">
							<!--Facebook-->
							<a href="#"><button type="button" class="btn btn-fb">
									<i class="fa fa-facebook-f pr-1"></i> Facebook
								</button></a>
							<!--Twitter-->
							<a href="#"><button type="button" class="btn btn-tw">
									<i class="fa fa-twitter"></i>
								</button></a>
							<!--Instagram-->
							<a href="#"><button type="button" class="btn btn-ins">
									<i class="fa fa-instagram"></i>
								</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<span> BiblioSpring &copy; <script>
							document.write(new Date().getFullYear());
						</script> | Creado por Agustín López, Daniel Luje y Chengjian Li
						</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Area End -->


	<!-- Javascript -->
	<script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="assets/js/vendor/bootstrap-4.1.3.min.js"></script>
	<script src="assets/js/vendor/wow.min.js"></script>
	<script src="assets/js/vendor/owl-carousel.min.js"></script>
	<script src="assets/js/vendor/jquery.nice-select.min.js"></script>
	<script src="assets/js/vendor/ion.rangeSlider.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>