<html>

<body>
	<body>
	<form action="/Opinar" method="post">
	
		<h3> Quieres hacer una reseña sobre un libro que has leído?</h3>
		
		<p>Nombre de usuario: </p>
		<input type='text' name='nombreUsuario'/>
		<p>Titulo del libro: </p>
		<input type='text' name='titulo'/>
		<p>Asunto:</p>
		<input type='text' name='asunto'/>
		<p>Comentario:</p>
		<textarea name='comentario' rows=5 cols=40></textarea>

		<input type='submit' value='Publicar'/>
		
	</form>
	</body>
	<a href="/usuarioPrivado">Volver a mi espacio personal</a>
</body>
</html>