<html>
<body>
	
								
	
	<h4> Aqui tienes tu sitio donde realizar todo tipo de gestiones en nuestra Biblioteca</h4>
	
	<li><a href="/Alquilar">Alquilar un libro</a></li>
	<li><a href="/Renovar">Renovar carné de socio</a></li>
	<li><a href="/Reservar">Reservar un libro</a></li>
	<li><a href="/Opinar">Publicar mi experiencia sobre un libro</a></li>
	<li><a href="/CambiarDatosPersonales">Cambiar mis datos personales</a></li>
	<li><a href="/VerDeuda">Comprobar y pagar deuda pendiente</a></li>
	
	<a href="/">Salir de mi espacio personal</a>
</body>
</html>

