<html>
<body>
	<body>
	<form action="/Renovar" method="post">
	
		<h3> Quieres renovar tu carne de socio?</h3>
		<h4> Rellena tus datos</h4>

	<p>Nombre:  </p>
		<input type='text' name='nombre'/>
		<p> </p>

<div class="container">
  <form>
        <legend>Tipo de usuario</legend>
        <p> </p>
        <label>
          <input type="radio" name="color" value="azul"> Socio
        </label>
        <label>
            <input type="radio" name="color" value="negro"> Administrador
        </label> 
  </form>
</div>

	<p>Numero de cuenta:  </p>
		<input type='text' name='numCuenta'/>
		<p> </p>

		<input type='submit' value='Renovar'/>
		<p> </p>
		
	</form>
</body>
	
	
	<a href="/usuarioPrivado">Volver a mi espacio personal</a>
</body>
</html>