<html>
<body>
	<body>
	<form action="/Reservar" method="post">
	
		<h3> Quieres reservar uno o varios libros?</h3>
		<h4> Lista de libros disponibles</h4>
		<p>Nombre: </p>
		<input type='text' name='nombre'/>
		<p>Autor:</p>
		<input type='text' name='autor'/>
		<p>Categoria:</p>
		<input type='text' name='categoria'/>

		<p> </p>
		<p> </p>
		<input type='submit' value='Reservar'/>
		
	</form>
</body>
	
	
	<a href="/usuarioPrivado">Volver a mi espacio personal</a>
</body>
</html>

